{% block tree_select_widget %}
    {% spaceless %}
        <div class="portlet green-meadow box">
            <div class="portlet-title">
                <div class="caption">
                    Selección múltiple
                </div>
            </div>
            <div class="portlet-body">
                <div id="category-tree" class="tree-demo">
                </div>
            </div>
        </div>
        <input type="hidden" data-type="tree" value="{{ dataCat }}" {{ block('widget_attributes') }}>
    {% endspaceless %}
{% endblock %}