{% block tree_select_widget %}
    {% spaceless %}
        <div id="category-tree" class="tree-demo"></div>
        <input type="hidden" id="tree" value="{{ dataCat }}">
    {% endspaceless %}
{% endblock %}